body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(43, 42, 42);
    color: white;
    text-align: center;
}

.index{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.headings{
    background-color: rgb(35, 34, 34);
    border-radius: 25px;
    border: 2px solid orange;
    padding: 20px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 60px;
}

.un_list_index{
    font-size: 30px;
    font-weight: 400;
    border-radius: 25px;
    border: 2px solid orange;
    padding: 20px;
}

.un_list_index ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links:hover{
    color:orange;
}

.links:link{
    color:white
}

img{
    height: auto;
    width: 800;
}

ul{
    list-style-type: none;
}

ol{
    list-style-position: inside;
}

.steps li{
    margin-bottom: 32px;
}
